munch
tqdm
pyyaml
numpy
imageio
lz4

--find-links https://download.pytorch.org/whl/torch_stable.html
# --find-links https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchmetrics==1.2.0